@import 'default.scss';
.wrapper {
    margin: 30px auto;
    max-width: 1200px;
    width: 100%;
}

main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    section {
        width: 45%;
    }
    h2 {
        font-size: 26px;
        padding-bottom: 10px;
    }
    p {
        line-height: 35px;
        font-size: 20px;
    }
    .info {
        display: inline-block;
    }
    img {
        width: 50%;
        float: right;
    }
}